.games {
  color: $color-default-white;
  display: flex;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 60px;

  p {
    margin: 10px 0;
    padding: 0;
  }

  @include vp-1199 {
    font-size: 12px;
    padding-bottom: 50px;

    p {
      margin: 0;
    }
  }

  @include vp-767 {
    display: block;
    padding-bottom: 35px;
  }
}

.games__left-column {
  background-color: $color-red;
  width: 500px;
  min-width: 500px;
  min-height: 500px;
  padding: 81px 78px 75px;

  @include vp-1199 {
    width: 292px;
    min-width: 292px;
    min-height: 292px;
    padding: 47px 45px 40px;
  }

  @include vp-767 {
    width: 100%;
    min-width: auto;
  }
}

.games__heading {
  display: flex;
  align-items: flex-start;

  h2 {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.03em;
    margin: 2px 50px 0 0;
    padding: 0;
  }

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dt {
    margin-bottom: 4px;
  }

  dd {
    border-top: 1px solid $color-default-white;
    font-weight: 700;
    font-size: 40px;
    line-height: 119%;
    display: flex;
    align-items: flex-start;
    width: min-content;
    margin-bottom: 15px;
  }

  dd:last-child {
    margin-bottom: 0;
  }

  small {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-left: 8px;
    margin-top: 4px;
  }

  @include vp-1199 {
    h2 {
      font-size: 52px;
      line-height: 52px;
      margin-right: 29px;
    }

    dd {
      font-size: 24px;
      margin-bottom: 4px;
    }

    dt {
      margin-bottom: 1px;
    }

    small {
      font-size: 10px;
      margin-top: 1px;
      margin-left: 5px;
    }
  }
}

.games__right-column {
  background-color: $color-dark-blue;
  flex-grow: 1;

  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  @include vp-1199 {
    img {
      height: 292px;
    }
  }

  @include vp-767 {
    img {
      height: auto;
    }
  }
}

.games__button {
  margin-top: 34px;

  @include vp-1199 {
    margin-top: 30px;
  }
}
