@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/robotolight.woff2") format("woff2"),
    url("../fonts/robotolight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/robotoregular.woff2") format("woff2"),
    url("../fonts/robotoregular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Bebas Neue";

  font-display: swap;
  src:
    url("../fonts/bebasneueregular.woff2") format("woff2"),
    url("../fonts/bebasneueregular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Bebas Neue";

  font-display: swap;
  src:
    url("../fonts/bebasneuebold.woff2") format("woff2"),
    url("../fonts/bebasneuebold.woff") format("woff");
}
